

<div class="container topOffset border-left border-right bg-white">
  <h1>Список документов</h1>

  <div class="row">

    <div class="col-sm-8">

      <div class="card">
        <div class="card-header bg-info">
        </div>
        <div class="card-body">
        <div class="row">
          <div class="col-sm-5">
            <h5 class="card-title">Семенов Геннадий Николаевич</h5>
            <p class="card-text">Главный специалист</p>
          </div>
          <div class="col-sm-7">
            <p>Заявление о внесении в реестр №271</p>
            <p>г. Москва, ул. Академика Королева, 32</p>
            <a href="#" class="btn btn-primary float-right">Править</a>
          </div>
        </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header bg-info">
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-5">
              <h5 class="card-title">Антонов Дмитрий Сергеевич</h5>
              <p class="card-text">Специалист</p>
            </div>
            <div class="col-sm-7">
              <p>Свидетельство об утверждении проекта планировки №0028</p>
              <p>г. Москва, ул. Академика Королева, 32</p>
              <a href="#" class="btn btn-primary float-right">Править</a>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="col-sm-4" >
      <div class="card">
        <div class="card-header bg-info text-white">
          <h5>Информация</h5>
        </div>
        <div class="card-body">
          <p>Информация об условиях регистрации</p>
        </div>
      </div>
    </div>

  </div>

</div>


