
@font-face {
  font-family: 'Pragmatica';
  src: url('assets/fonts/Pragmatica Condensed Book.ttf') format('truetype');
  src: url('assets/fonts/Pragmatica Condensed Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Pragmatica', arial;
}
